PORT=3001
MONGODB_URI=mongodb+srv://loveneetchauhan51:G0VSZGxWyPK6xihC@cluster0.rmuctrf.mongodb.net/secure-vote?retryWrites=true&w=majority
VITE_RENDER_API_URL=https://your-render-app-name.onrender.com/api 
